{% extends "base.html" %}
{% load static %}

{% block content %}
	<section class="form-choice-content-section form-choice-container">	
		<h1><div class="choose-form-header">Veuillez choisir un type de formulaire</div></h1>
		<!--embed src="{% static 'forms/romanian-forms/romanian-pps.pdf' %}" type="application/pdf" width="800px" height="1920px" /-->

		<a href="../identity-forms-french/">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/identity-form-french.png' %}">
		</a>
		
		<a href="../employment-forms-french/">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/employment-form-french.png' %}">
		</a>

		<a href="../welfare-forms-french/">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/welfare-form-french.png' %}"> 		
		</a>

		<a href="../health-forms-french/">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/health-form-french.png' %}">
		</a>

		<a href="../justice-forms-french/">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/justice-form-french.png' %}">
		</a>

		<a href="../housing-forms-french/">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/housing-form-french.png' %}">
		</a>
{% endblock %}