{% extends "base.html" %}
{% load static %}

{% block content %}
	<section class="form-choice-content-section form-choice-container">	
		<h1><div class="choose-form-header">Elija un tipo de formulario</div></h1>
		<!--embed src="{% static 'forms/romanian-forms/romanian-pps.pdf' %}" type="application/pdf" width="800px" height="1920px" /-->
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/identity-form-spanish.png' %}">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/employment-form-spanish.png' %}">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/welfare-form-spanish.png' %}"> 		
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/health-form-spanish.png' %}">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/justice-form-spanish.png' %}">
		<img class="form-choice-center forms" src="{% static 'FLAGPNG/housing-form-spanish.png' %}">

{% endblock %}